################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Jaxsen-Wadsworth.github.io/FileContentIndex
